.App {
  text-align: center;
  padding: 20px;
  background-color: #F5F5F5; /* <== add this line */
  display: flex; flex-direction: column; align-items: center;
}

body {
  background-color: #F5F5F5;
  margin: 0;
  font-family: sans-serif;
}


h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  
}

.category {
  margin: 8px;
  box-shadow: 0 0 7px rgba(192, 192, 192, 2.5);
  border-radius: 16px;
  width: auto;
  height: auto;
}
.category {
  margin: 20px 0;
}


.category img {
  width: 105px;
  height: 105px;
  margin: 5px;
  cursor: pointer;
  border: 3px solid transparent;
  transition: border-color 0.3s;
  border-radius: 16px;
}

.category .wall-color-img {
  width: 105px;
  height: 60px;
}


.wall-color-img {
  width: 105px;
  height: 60px;
  margin: 5px;
  cursor: pointer;
  border: 3px solid transparent;
  transition: border-color 0.3s;
  border-radius: 16px;
}


.selected {
  border: 6px solid red;
  box-shadow: 0 0 10px rgba(255, 255, 0, 2.5);
  border-radius: 16px;
  transform: scale(1.15);
}

.moodboard-preview img {
  width: 160px;
  height: 160px;
  margin: 5px;
  box-shadow: 0 0 5px rgba(192, 192, 192, 2.5);
  border-radius: 16px;
}

form input {
  margin: 10px;
  padding: 8px;
  width: 200px;
}

form button {
  padding: 10px 20px;
  background-color: #ff5733;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #e14c29;
}
.logo {
  width: 330px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 25px rgba(192, 192, 192, 2.5);
}
.qr-code {
  margin-top: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 16px;
  display: inline-block;
  box-shadow: 0 0 15px rgba(192, 192, 192, 0.8);
}

.qr-code h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.qr-image {
  width: 160px;
  height: 160px;
}
